{% extends "base.html" %}
{% block content %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="title">
                Edit group
            </h1>

            <div class="box">
                <form method="POST" action="{{ url_for('edit_group', id=res.id) }}" class="p-4">
                    {{ form.csrf_token }}
                    <div class="field">
                        <label class="label">Название</label>
                        <div class="control">
                          <input class="input" type="text" id="title" name="title" value="{{ res.title }}" placeholder="" required="" autofocus="" />
                        </div>
                      </div>
                
                      <div class="field">
                        <label class="label">Описание</label>
                          <input class="textarea" type="text" id="group_description" value="{{ res.group_description }}" name="group_description" placeholder=""/>
                      </div>
                      <div class="control">
                          <a href="{{ url_for('edit_group', id=res.id) }}">
                            <button class="button is-link">Изменить группу</button>
                          </a>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}