{% block form_task %}
<div class="box">
  <form method="POST" action="{{ url_for('tasks_list', id_group=id_group, complete=False) }}" class="p-4">
      {{ form.csrf_token }}
      <div class="field">
          <label class="label">Название</label>
          <div class="control">
            <input class="input" type="text" id="title" name="title" placeholder="" required="" autofocus="" />
          </div>
      </div>

      <div class="field">
          <label class="label">Описание</label>
          <input class="textarea" type="text" id="task_description" name="task_description" placeholder=""/>
      </div>

      <div class="field">
          <div class="control">
              <label class="label">Создал</label>
              <div class="select is-info">
                  <select name="created_by_id">
                      {% for user in users %}
                          <option>{{ user[1] }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
      </div>
      
      <div class="field">
          <div class="control">
              <label class="label">Для кого</label>
              <div class="select is-info">
                  <select name="assigned_to_id">
                      {% for user in users %}
                          <option>{{ user[1] }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
      </div>

      <div class="control">
          <a href="{{ url_for('tasks_list', id_group=id_group, complete=False) }}">
              <button class="button is-link">Создать задачу</button>
          </a>
      </div>   
  </form>
</div>
{% endblock %}